
.dsp-packages-list {
    background: #ffffff;
    border-radius: 3px;
    min-height: 250px;

    .login-alert {
        padding: 50px 25px; 
    }

    .logo {
        width: 64px;
    }
    .table-responsive {
        min-height: 350px;
    }
    .table {
        thead {
            tr {
                th {
                    cursor: pointer;
                    color: #3131ff;
                }
            }
        }
        tbody {
            tr {
                td {
                    height: 90px;
                    font-size: 18px;
                    .provider {
                        .value {
                            font-weight: bold;
                        }
                        .badge {
                            padding: 5px;
                            margin-right: 5px;
                            font-weight: normal;
                            font-size: 10px;
                            background: #3131ff;
                        }
                    }
                }
            }
            .deprecated {
                background-color: #ffe5e7!important;
            }
            .selected {
                background-color: #e0fbe3!important;
            }
        }
    }

    .services-filter {
        .dropdown {
            display: inline;
        }
    }
    .search-filter {
        .dropdown {
            display: inline;
        }
    }
}